# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Virtual Environments
venv/
.venv/
env/

# VS Code
.vscode/

# PyCharm
.idea/

# Environment Variables
.env

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Build
build/
dist/
*.egg-info/

# Cache
.pytest_cache/
.mypy_cache/